@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Noto+Serif:ital,wght@0,100;1,100&family=Playfair+Display:wght@400;500&display=swap');

/*
    Parte del diseño está basado en el blog https://una.im de la desarrolladora Una Kravets
*/

$green: #70bf44;
$bg-color: #151c19;
$title-color: #fff;
$text-primary: #d6cecb;
$quote-bg-color: #464f4e;

*{
    font-family: 'Inter', sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: $bg-color;
    color: $text-primary;
}

.row{
    margin: 1rem 0;
}

p{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6{
    color: $title-color;
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 3rem;
}

blockquote{
    text-align: center;

    p{
        font-style: italic;
        font-family: 'Noto Serif', serif;
        font-weight: 100;
        font-size: 2rem;
    }
}

header{
    background-color: #3c4146;
    img{
        width: 50px;
        height: 50px;
    }

    .nav-link{
        color: white;

    }
    
    .nav-link:hover{
       color: white;
       background-color: #70be43;
    }

    .active{
        font-weight: bold;
    }
}

footer{
    color: white;
    background-color: #3c4146;

    h3{
        font-weight: 700;
    }

    p{
        margin: 1.5rem;
        line-height: 1.5rem;
        font-weight: 300;
    }

    .form-control{
        border-radius: 0;
    }

    form{
        color: #adb5bd;
    }

    .form-text{
        color: #6c757d;
    }
}

.main-image{
    margin: 0 0 2rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;

    h2{
        display: inline;
        background-color: $green;
        color: $text-primary;
    }

    &-aboutus{
        @extend .main-image;
        background-image: url('/src/resources/img/salon-sm.jpg');
    }

    &-project{
        @extend .main-image;
        background-image: url('/src/resources/img/project-header-md.jpg');
    }


    &-activities{
        @extend .main-image;
        background-image: url('/src/resources/img/salon-sm.jpg');
    }
}

.index-presentation{
    height: 550px;
    background: url("/src/resources/img/home-lg.jpg") no-repeat 0 0;
    background-size: cover;
}


.title{
    font-weight: bold;
    font-size: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.4rem;
    color: white;
    width: 500px;

    &-green{
        @extend .title;
        background-color: #679633;
    }

    &-blue{
        @extend .title;
        background: #0f75bc;
    }
}

.description{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 40px;
    background-image: url('/src/resources/img/gc.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.video{
    margin: 2rem;
}

.our-mission{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 40px;
    background-image: url('/src/resources/img/salon-sm.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    border: 0;
    background-color: inherit;
    color: $text-primary;
    align-items: baseline;

    .card-title{
        font-weight: 600;
        padding: 0.25rem 0;
    }

    &-index{
        @extend .card;
        text-align: center;

        .card-title{
            background: $green;
        }
    }

    &-project{
        @extend .card;

        p{
            font-size: 1rem;
        }

    }
}

.activities{
    h2{
        display: inline;
        margin: 2rem 0 2rem -2rem;
        padding: 0 2rem;
    }

    .bg-blue{
        background-color: #0e74bb;
    }

    .bg-green{
        background-color: #679633;
    }

    p{
        margin: 2rem 0 2rem 0;
        font-weight: 200;
    }
}