@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Noto+Serif:ital,wght@0,100;1,100&family=Playfair+Display:wght@400;500&display=swap');

/*
    Parte del diseño está basado en el blog https://una.im de la desarrolladora Una Kravets
*/

$gc-green: #70bf44;
$gc-blue: #0e74bb;
$gc-white: #dcddde;
$bg-color: #151c19;
$title-color: #fff;
$text-primary: #d6cecb;
$quote-bg-color: #464f4e;
$bg-header: #3c4146;

*{
    font-family: 'Inter', sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
    color: $text-primary;
}

.row{
    margin: 1rem 0;
}

p{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.25rem;
}

h1, h2, h3{
    color: $title-color;
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 3rem;
}

blockquote{
    text-align: center;

    p{
        font-style: italic;
        font-family: 'Noto Serif', serif;
        font-weight: 100;
        font-size: 2rem;
    }
}

header{
    background-color: $bg-header;
    img{
        width: 50px;
        height: 50px;
    }

    .navbar{
        justify-content: space-between;
        margin: 0 1rem 0 1rem;
    }

    .navbar-nav{
        align-items:center;
    }

    .nav-link{
        font-weight: 600;
        color: white !important;
        margin: 0 0.5rem 0 0.5rem;
    }
    
    .nav-link:hover{
        background-color: $gc-green;
    }

    .active{
       background-color: $gc-blue;
    }
}

footer{
    color: white;
    background-color: #3c4146;

    h3{
        font-weight: 700;
    }

    p{
        margin: 1.5rem;
        line-height: 1.5rem;
        font-weight: 300;
    }

    .form-control{
        border-radius: 0;
    }

    form{
        color: #adb5bd;
    }

    .form-text{
        color: #6c757d;
    }
}


.main-image{
    margin: 0 0 2rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    &-index{
        @extend .main-image;
        background-image: url("/src/resources/img/home-lg.jpg");
    }

    &-aboutus{
        @extend .main-image;
        background-image: url('/src/resources/img/salon-sm.jpg');
    }

    &-project{
        @extend .main-image;
        background-image: url('/src/resources/img/project-header-md.jpg');
    }


    &-activities{
        @extend .main-image;
        background-image: url('/src/resources/img/salon-sm.jpg');
    }

    .text{
        font-family: 'Inter', sans-serif;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: 0.4rem;
        color: white;

        &-green{
            @extend .text;
            background-color: $gc-green;
        }

        &-white{
            @extend .text;
            background-color: $gc-white;
        }

        &-blue{
            @extend .text;
            background: $gc-blue;
        }
    }
}


.index{
    .description{
        font-size: 1.25rem;
        text-align: center;
        margin-top: 40px;
        background-image: url('/src/resources/img/gc.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100px 100px;
        background-position: left;
    }

    .video{
        margin: 2rem;
    }
}

.our-mission{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 40px;
    background-image: url('/src/resources/img/salon-sm.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    border: 0;
    background-color: inherit;
    color: $text-primary;
    align-items: baseline;
    text-align: center;

    .card-title{
        font-weight: 600;
        padding: 0.25rem 0;
    }

    &-index{
        @extend .card;
        text-align: center;

        .card-title{
            background: $gc-green;
        }
    }

    &-project{
        @extend .card;

        p{
            font-size: 1rem;
        }

    }
}

.activities{
    h2{
        display: inline;
        margin: 2rem 0 2rem -2rem;
        padding: 0 2rem;
    }

    .bg-blue{
        background-color: $gc-blue;
    }

    .bg-green{
        background-color: $gc-blue;
    }

    p{
        margin: 2rem 0 2rem 0;
        font-weight: 200;
    }

    .gallery-img{
        display: block;
        width: 100%;
    }
}

.inscriptions{
    h1{
        text-align: center;
    }


    p, .form-label{
        color: $text-primary;
    }
}