@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Noto+Serif:ital,wght@0,100;1,100&family=Playfair+Display:wght@400;500&display=swap");
/*
    Parte del diseño está basado en el blog https://una.im de la desarrolladora Una Kravets
*/
* {
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #151c19;
  color: #d6cecb;
}

.row {
  margin: 1rem 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 300;
  font-size: 1.25rem;
}

h1, h2, h3 {
  color: #fff;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3rem;
}

blockquote {
  text-align: center;
}
blockquote p {
  font-style: italic;
  font-family: "Noto Serif", serif;
  font-weight: 100;
  font-size: 2rem;
}

header {
  background-color: #3c4146;
}
header img {
  width: 50px;
  height: 50px;
}
header .navbar {
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
}
header .navbar-nav {
  align-items: center;
}
header .nav-link {
  font-weight: 600;
  color: white !important;
  margin: 0 0.5rem 0 0.5rem;
}
header .nav-link:hover {
  background-color: #70bf44;
}
header .active {
  background-color: #0e74bb;
}

footer {
  color: white;
  background-color: #3c4146;
}
footer h3 {
  font-weight: 700;
}
footer p {
  margin: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
}
footer .form-control {
  border-radius: 0;
}
footer form {
  color: #adb5bd;
}
footer .form-text {
  color: #6c757d;
}

.main-image, .main-image-activities, .main-image-project, .main-image-aboutus, .main-image-index {
  margin: 0 0 2rem 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.main-image-index {
  background-image: url("/src/resources/img/home-lg.jpg");
}
.main-image-aboutus {
  background-image: url("/src/resources/img/salon-sm.jpg");
}
.main-image-project {
  background-image: url("/src/resources/img/project-header-md.jpg");
}
.main-image-activities {
  background-image: url("/src/resources/img/salon-sm.jpg");
}
.main-image .text, .main-image .text-blue, .main-image .text-white, .main-image .text-green, .main-image-index .text, .main-image-index .text-blue, .main-image-index .text-white, .main-image-index .text-green, .main-image-aboutus .text, .main-image-aboutus .text-blue, .main-image-aboutus .text-white, .main-image-aboutus .text-green, .main-image-project .text, .main-image-project .text-blue, .main-image-project .text-white, .main-image-project .text-green, .main-image-activities .text, .main-image-activities .text-blue, .main-image-activities .text-white, .main-image-activities .text-green {
  font-family: "Inter", sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.4rem;
  color: white;
}
.main-image .text-green, .main-image-index .text-green, .main-image-aboutus .text-green, .main-image-project .text-green, .main-image-activities .text-green {
  background-color: #70bf44;
}
.main-image .text-white, .main-image-index .text-white, .main-image-aboutus .text-white, .main-image-project .text-white, .main-image-activities .text-white {
  background-color: #dcddde;
}
.main-image .text-blue, .main-image-index .text-blue, .main-image-aboutus .text-blue, .main-image-project .text-blue, .main-image-activities .text-blue {
  background: #0e74bb;
}

.index .description {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 40px;
  background-image: url("/src/resources/img/gc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100px 100px;
  background-position: left;
}
.index .video {
  margin: 2rem;
}

.our-mission {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 40px;
  background-image: url("/src/resources/img/salon-sm.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card, .card-project, .card-index {
  border: 0;
  background-color: inherit;
  color: #d6cecb;
  align-items: baseline;
  text-align: center;
}
.card .card-title, .card-project .card-title, .card-index .card-title {
  font-weight: 600;
  padding: 0.25rem 0;
}
.card-index {
  text-align: center;
}
.card-index .card-title {
  background: #70bf44;
}
.card-project p {
  font-size: 1rem;
}

.activities h2 {
  display: inline;
  margin: 2rem 0 2rem -2rem;
  padding: 0 2rem;
}
.activities .bg-blue {
  background-color: #0e74bb;
}
.activities .bg-green {
  background-color: #0e74bb;
}
.activities p {
  margin: 2rem 0 2rem 0;
  font-weight: 200;
}
.activities .gallery-img {
  display: block;
  width: 100%;
}

.inscriptions h1 {
  text-align: center;
}
.inscriptions p, .inscriptions .form-label {
  color: #d6cecb;
}

/*# sourceMappingURL=styles.css.map */
